<mat-toolbar class="mat-elevation-z8 toolbar">
  <span>My Portfolio</span>
  <span class="example-spacer"></span>
  <button
    mat-stroked-button
    aria-label="Home page"
    matTooltip="Home page"
    style="color: var(--main-text-color);"
    (click)="navigateTo('/')"
    [style.border-bottom]="isRotaHomeAtiva ? '1px solid var(--main-text-color)' : ''"
  >
    <mat-icon class="mat-18">home</mat-icon>
    Home
  </button>

  <button
    mat-stroked-button
    aria-label="Working stack"
    matTooltip="Working stack"
    style="color: var(--main-text-color);"
    (click)="navigateTo('/stack')"
    [style.border-bottom]="isRotaStackAtiva ? '1px solid var(--main-text-color)' : ''"
  >
    <mat-icon class="mat-18">rocket_launch</mat-icon>
    Stack
  </button>

  <button
    mat-stroked-button
    aria-label="Experiences"
    matTooltip="Experiences"
    style="color: var(--main-text-color);"
    (click)="navigateTo('/experiences')"
    [style.border-bottom]="isRotaExperienceAtiva ? '1px solid var(--main-text-color)' : ''"
  >
    <mat-icon class="mat-18">ballot</mat-icon>
    Experiences
  </button>

  <button
    mat-stroked-button
    aria-label="Personal projects"
    matTooltip="Personal projects"
    style="color: var(--main-text-color);"
    (click)="navigateTo('/projects')"
    [style.border-bottom]="isRotaProjectsAtiva ? '1px solid var(--main-text-color)' : ''"
  >
    <mat-icon class="mat-18">view_kanban</mat-icon>
    Projects
  </button>
</mat-toolbar>
