<div class="content">
  <div class="card">
    <div class="profile">
      <img
        src="assets/1645547651037.jpg"
        loading="eager"
        alt="profile picture"
        class="profile-picture"
      />

      <div class="btn-group">
        <a href="assets/pdf/Resume.pdf" target="_blank" rel="noopener noreferrer">
          <button mat-button class="btn btn-small" matTooltip="My updated resumé">
            <mat-icon class="mat-18">
              <ion-icon name="document-attach"></ion-icon>
            </mat-icon>
            Download CV
          </button>
        </a>

        <a href="https://www.linkedin.com/in/matheus-alves07/" target="_blank" rel="noopener noreferrer">
          <button mat-button class="btn btn-small" matTooltip="My professional profile">
            <mat-icon class="mat-18">
              <ion-icon name="logo-linkedin"></ion-icon>
            </mat-icon>
            My profile
          </button>
        </a>
      </div>

      <section>
        <div class="btn-group">
          <a href="https://wa.me/5521992339161" target="_blank" rel="noopener noreferrer">
            <button mat-button class="btn btn-large" matTooltip="Contact me on WhatsApp">
              <mat-icon>
                <ion-icon name="logo-whatsapp"></ion-icon>
              </mat-icon>

              +55 (21) 992-339-161
            </button>
          </a>
        </div>

        <div class="btn-group">
          <a href="mailto:matheus.alves523@gmail.com" target="_blank" rel="noopener noreferrer">
            <button mat-button class="btn btn-large" matTooltip="Contact me via e-mail">
              <mat-icon>
                <ion-icon name="mail"></ion-icon>
              </mat-icon>

              matheus.alves523&#64;gmail.com
            </button>
          </a>
        </div>
      </section>
    </div>

    <div class="info">
      <p>Hello there! For almost a decade now, I've been working as a software engineer, with my main focus in backend applications. My biggest expertise is working with .Net applications(.NET 5+), where I follow the concepts of Domain Driven Design(DDD) and Clean Archicteture to improve maintainability, and, not forgetting about NUnit and XUnit, where I create automated tests, to ensure the quality throughout the development process.</p>

      <p>After a few years working with backend applications, following my desire to always improve myself, I embraced courses from Javascript and Typescript, and, after learning those skills, I began my pursue to learn a Javascript framework, and, as you can see in this website, I've working since then with Angular and, in the pursue to improve myself, my next goals are Node.js, and React.</p>

      <p>Bellow my profile picture, you can find links to reach out to me, and a link to download my CV. Feel free to contact me, I'm always available for new connections in my LinkedIn</p>
    </div>
  </div>
</div>
