.container {
  width: 100% !important;
  height: 100% !important;
  background: linear-gradient(
    to right bottom,
    var(--middle-gray),
    var(--background-darker)
  );
}

header {
  height: 5% !important;
}

main {
  height: 80vh;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-text-color);
}

footer {
  height: 3% !important;
}
